<footer class="site-footer">
  <div class="wrapper" style="text-align: center; padding: .2rem 0 0.16rem;">
    <p>
      Developed by
      <a href="https://www.linkedin.com/in/elise-keller/" target="_blank">Elise Keller</a>,
      <a href="https://www.linkedin.com/in/jojoday/" target="_blank">Jojo Day</a>,
      <a href="https://www.linkedin.com/in/" target="_blank">Author 3</a>,
      and <a href="https://www.linkedin.com/in/" target="_blank">Author 4</a>.
    </p>
    <p>© {{ site.time | date: "%Y" }} Qooked.</p>
  </div>
</footer>

