<footer class="site-footer">
  <div class="wrapper" style="text-align: center; padding: .2rem 0 0.01rem;">
    <p>
      Developed by
      <a href="https://www.linkedin.com/in/alexander-pfau-716231247/" target="_blank">Alexander Pfau</a>,
      <a href="https://www.linkedin.com/in/elijah-d/" target="_blank">Elijah D</a>,
      <a href="https://www.linkedin.com/in/elise-keller/" target="_blank">Elise Keller</a>,
      and <a href="https://www.linkedin.com/in/jojoday/" target="_blank">Jojo Day</a>.
    </p>
    <p>© {{ site.time | date: "%Y" }} Qooked.</p>
  </div>
</footer>

